# ===== API =====
# Web開発時
VITE_API_BASE_URL=http://localhost:8080

# Capacitor (Android エミュレーター) でローカルAPIを叩く場合は下記に切り替え
# VITE_API_BASE_URL=http://10.0.2.2:8080

# Capacitor (iOS シミュレーター) でローカルAPIを叩く場合は下記に切り替え
# VITE_API_BASE_URL=http://localhost:8080
